﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <aside id="sidebar">
                        <ul id="sidemenu" class="sidebar-nav">
                            <li>
                                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-1">
                                    <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                                    <span class="sidebar-title">Clientes</span>
                                    <b class="caret"></b>
                                </a>
                                <ul id="submenu-1" class="panel-collapse collapse panel-switch" role="menu">
                                    <li>
                                        <a class="w3-bar-item w3-button"><i class="fa fa-caret-right"></i>@Html.ActionLink("Listar Clientes", "Index", "Cliente")</a>
                                    </li>
                                    <li>
                                        <a class="w3-bar-item w3-button">@Html.ActionLink("Nuevo Cliente", "Create", "Cliente")</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse"  href="#submenu-2">
                                    <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                                    <span class="sidebar-title">Tipos Clientes</span>
                                    <b class="caret"></b>
                                </a>
                                <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                                    <li>
                                        <a class="w3-bar-item w3-button"><i class="fa fa-caret-right"></i>@Html.ActionLink("Listar Tipos Cliente", "Index", "TipoCliente")</a>
                                    </li>
                                    <li>
                                        <a class="w3-bar-item w3-button">@Html.ActionLink("Nuevo Tipo Cliente", "Create", "TipoCliente")</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div> <!-- .column is 3 -->

            <div class="col-md-9" style="margin-left:15%">
                <div class="w3-container w3-teal">
                    <h1>Examen .Net</h1>
                </div>

                <div class="w3-container">
                    <h2>AKTIEN</h2>
                    <p>Maribel Barrera Tabares.</p>
                </div>
            </div>
        </div>
</div>