﻿@model aktienExamen.Models.Cliente

@{
    ViewBag.Title = "DeleteCliente";
}

<h2>DeleteCliente</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido_materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido_materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipos_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipos_cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
