﻿@{
    ViewBag.Title = "Login";
}

<h2>Acceder a Sistema </h2><br />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img class="img-thumbnail" src="http://www.aktien.com.mx/images/Aktien_Logo_2.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="form-control" name="login" placeholder="username">
            <input type="text" id="password" class="form-control" name="login" placeholder="password"><br />
            <button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Home")';return false;">Log In</button>
        </form>
    </div>
</div>


